/* Header + Body Styling */

h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 900;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* About Styling */


#title {
  background-color: #74b49b;
  color: white;
}

.container-fluid {
  padding: 1% 15%;
}

.display-4 {
  margin-bottom: 50px;
  margin-left: 15px;
}

.card-text{
  margin-left: 15px;

}

.card-text-align{
  margin-bottom: 100px;
  margin-left: 15px;
}

/* Nav Bar Styling */

.navbar-brand{
  font-size: 40px;
  font-family: 'Ubuntu', sans-serif;
}

.nav-link {
  font-size: 18px;
  margin: 25px;
  font-family: 'Montserrat-Light', sans-serif;
}

/* Webpage title for each topic */
.pageTitle{
  font-family: 'Montserrat';
  color: #EECCC6;
  text-align: center;
  margin-bottom: 50px;
  margin-top: -50px;
}

/* Tips Styling */

#Tips {
  text-align: center;
  padding: 7% 15%;
}

.insp-icon {
  margin-bottom: 20px;
  color:#EECCC6
}

.insp-icon-no-bottom {
  margin-top: 50px;
  color:#EECCC6
}

/* Generate Tips Button */
.btn{
  background-color: #add9be;
  color: #FFFFFF;
}

/* Contact Styling */

#Contact {
  text-align: center;
  padding: 7% 15%;
  background-color: #a7d7c5;
}

.name {
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
}

.contact-title {
  margin-bottom: 90px;
}

.contact-icon {
  margin: 10px;
}

.images{
  width: 150px;
  height: 150px;
}
