#title{
  background-color: #74b49b;
  color: white;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 900;
}

.container-fluid {
  padding: 1% 15%;
}

.navbar-brand{
  font-size: 40px;
  font-family: 'Ubuntu', sans-serif;
}

.nav-link {
  font-size: 18px;
  margin: 25px;
  font-family: 'Montserrat-Light', sans-serif;
}

.display-4 {
  margin-top: 70px;
  margin-left: 15px;
}

.card-text {
  margin-left: 15px;
}

.card-text-align{
  margin-bottom: 120px;
  margin-left: 15px;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.images{
  width: 150px;
  height: 150px;
}


#Inspiration {
  text-align: center;
  padding: 7% 15%;
}

.insp-icon {
  margin-bottom: 20px;
  color:#EECCC6
}

#Contact {
  text-align: center;
  padding: 7% 15%;
  background-color: #a7d7c5;
}

.contact-title {
  margin-bottom: 90px;
}

.contact-icon {
  margin: 10px;
}

.name {
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
}
