#title{
  background-color: #74b49b;
  color: white;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 900;
}

.big-title {
  margin-right: 20px;
  margin-left: 15px;
  margin-top: 50px;
  font-size: 35px;
  margin-bottom: 300px;
}

.container-fluid {
  padding: 1% 15%;
}

.navbar-brand{
  font-size: 40px;
  font-family: 'Ubuntu', sans-serif;
}

.nav-link {
  font-size: 18px;
  margin: 25px;
  font-family: 'Montserrat-Light', sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.images{
  width: 150px;
  height: 150px;
}

#Contact {
  text-align: center;
  padding: 7% 15%;
  background-color: #a7d7c5;
}

#Inspiration {
  text-align: center;
  padding: 7% 15%;
}

.name {
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
}

.contact-title {
  margin-bottom: 90px;
}

.contact-icon {
  margin: 10px;
}

.inspir-buttons {
  border: none;
  margin: 4px 2px;
  text-decoration: none;
  cursor: pointer;
  color: #000000;

}

.productivity {
  float: left;
  color: #000000;

}

.physical-health {
  float: center;
}

.mental-health {
  float: right;
}

.insp-icon {
  margin-bottom: 20px;
  color:#EECCC6
}

.display-4 {
  margin-bottom: 50px;
  margin-left: 15px;
}

.card-text{
  margin-left: 15px;
}

.card-text-align{
  margin-bottom: 100px;
  margin-left: 15px;
}
